@font-face {
    font-family: "Lexend";
    src: url("./Lexend.ttf");
}

@font-face {
    font-family: "Phantom Sans";
    src: url("./PhantomSans_Regular.woff");
}

@font-face {
    font-family: "Phantom Sans";
    src: url("./PhantomSans_Bold.woff");
    font-weight: bold;
}

body {
    background-color: #EBECE0;
    background-image: url(../icons/new-background.svg);
    background-size: 50px;
    background-repeat: repeat;
    margin: 0;
}

* {
    font-family: "Phantom Sans";
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: bolder;
}

p {
    margin: 0;
}