


.gallery_card {
    flex: 1;
    break-inside: avoid;
    border-radius: 0.5rem; /* Equivalent to rounded-lg */
    background-color: rgba(158, 158, 158, 0.2); /* Equivalent to bg-white/20 */
    background-clip: padding-box; /* Equivalent to bg-clip-padding */
    padding: 1.5rem 1.5rem 1rem 1.5rem; /* Equivalent to p-6 pb-4 */
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Equivalent to shadow-lg */
    height: fit-content; /* Equivalent to h-fit */
    width: 100%; /* Make the card width responsive within the column */
    margin-bottom: 24px; /* Add space between cards vertically */
}

.gallery_card:hover {
    background-color: rgba(148, 79, 0, 0.2);
    transform: translateY(-2px); /* Equivalent to hover:shadow-lg */
}


.feed {
    min-height: 1000px;
    padding-top: 32px;        
    padding-bottom: 32px;    
    width: 100%;              
    overflow-y: auto;        
    overflow-x: hidden;       
    align-self: center;       
    column-gap: 24px;           
    padding: 24px;
    

    @media (min-width: 640px) {
        column-count: 1;          
    }
    
      /* Medium screens */
    @media (min-width: 768px) {
        column-count: 2;          
    }
    
      /* Large screens */
    @media (min-width: 1024px) {
        column-count: 3;          
    }
}

.title {
    font-family: "Phantom Sans";
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    color: #333;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 1rem;
    background: linear-gradient(to right, #f5740b, #d9a406, #fdff78);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}



.sub_title {
    font-family: "Phantom Sans";
    margin-top: -40px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #5e5e5e;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);

}

.pageBackground {
    background-color: #1c1c1c;
    height: 100vh;
    width: 100%;
    margin: 0;
    margin-top: -66.5px;
  }

.background {
    width: 100%;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.card_title {
    font-family: 'Trebuchet MS';
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    color: #e1e1e1;
    margin-top: 0;
    margin-bottom: 1rem;
}

.card_desc {
    font-family: "Phantom Sans";
    text-align: left;
    color: #a7a7a7;
    margin-bottom: 1rem;
}


.bin_home{
    display: flex; 
    margin-top: -40px;
    margin-left: 200px;
}

.nav{
    width: 100%;
    display: flex;
    padding-left: 200px;
    padding-top: -20px;
}

.loading {
    font-size: 48px;
    color: #a7a7a7; /* Change text color as needed */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.dots::after {
    content: '...';
    animation: dots 1.5s infinite;
}

@keyframes dots {
    0% {
        content: '.';
    }
    25% {
        content: '..';
    }
    50% {
        content: '...';
    }
    75% {
        content: '..';
    }
    100% {
        content: '.';
    }
}

.img_container {
    width: 100%; /* Adjust the width as needed, e.g., 80% or a fixed width */
    height: 300px; /* Set a specific height or make it responsive */
    overflow: hidden; /* Hide any overflow from the image */
    position: relative; /* Ensure the container can position the image correctly */
}

/* Style for the image */
.img_container img {
    width: 100%; /* Ensure the image stretches to fit the container width */
    height: 100%; /* Ensure the image stretches to fit the container height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    display: block; /* Remove any default inline spacing */
}

.nav_button{
  display: inline-block;
  padding: 20px 20px;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 16px;
  font-family: monospace;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  color: #e1e1e1;
}

.nav_button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
