.footer_div {
    background-color: #f9fafc;
    padding-top: 64px;
    padding-bottom: 64px;
    box-sizing: border-box;
}

.footer_wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 32px;
    box-sizing: border-box;
}

.footer_information {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    padding-bottom: 32px;
    box-sizing: border-box;
}

.footer_information a {
    color: inherit;
}

.footer_information_header {
    font-size: 20px;
    margin-bottom: 8px;
    color: #3c4858;
}

.footer_information p {
    color: #8492a6;
    line-height: 1.375;
    width: 60%;
    margin-bottom: 16px;
    text-underline-offset: 5px;
}

.footer_information p a:hover {
    text-decoration-style: wavy;
    text-underline-offset: 3px;
}

.footer_links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #8492a6;
}

.footer_links_column {
    display: flex;
    flex-direction: column;
}

.footer_links h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.footer_links a {
    color: #8492a6;
    font-size: 20px;
    margin-bottom: 8px;
    text-decoration: none;
    display: block;
    font-weight: 400;
}

.footer_links a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #3c4858;
}

.footer_icons_container {
    display: grid;
    max-width: 192px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-left: -4px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.footer_icons_container a {
    margin-bottom: 0px;
}

.footer_tel {
    display: block;
    font-size: 20px;
}

.footer_cr_info {
    color: #8492a6;
    margin-top: 16px;

}