html {
  background-color: #453F49;
  background-image: url('https://cloud-lm4kzw7d7-hack-club-bot.vercel.app/0bkgr.png');
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
  color:#2e2a31;
  background-image: linear-gradient(#FC867D 0%, #FBCE60 100%);
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  padding: 1em;
  cursor: pointer;
}

.fold {
  /* top of the page */
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  justify-content: space-around;
}

.suptitle {
  margin: 0;
  font-size: 2.5em;
}
.subtitle {
  margin: 0;
  font-size: 1em;
  opacity: 0.7;
}
.title {
  font-weight: bold;
  display: inline-block;
  border-radius: 5px;
  margin: 0;
  font-size: 5em;

  color: #FBCE60;
  background: -webkit-linear-gradient(#FC867D, #FBCE60);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-card {
  background: #2e2a31;
  padding-top: 1em;
  padding-bottom: 1.5em;
  padding-left: 3em;
  padding-right: 3em;
  margin-bottom: 3em;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
}

.heading-card span {
  font-size: 54px;
  font-weight: bold;
  color: #FBCE60;
  background: -webkit-linear-gradient(#FC867D, #FBCE60);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 90%;
}

.loading {
  /* margin: 0 auto; */
  text-align: center;
  font-size: 3em;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.display-none {
  display: none;
}

.item-list {
  text-align: center;
}

.item-list img {
  width: 100%;
}

.item {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 10px;
}

.hours {
  background: orange;
  border-radius: 1em;
  padding: 1em;
  font-weight: bold;
  color: black;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.section {
  max-width: 24em;

  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 600px) {
  .section {
    max-width: 62em;
  }
}

.card {
  width: 277px;
  height: 229px;
}

.cell {
  position: relative;
  display: inline-block;
  margin: 0.5em;
}

.name {
  position: absolute;
  top: 23.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #453F49;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-shadow: 0px 0px, 0px 0px, 0.5px 0px;
  width: 300px;
}

.small-name {
  font-size: 0.8em;
  font-style: italic;
  font-weight: 400;
}

.itemimg {
  position: absolute;
  top: 62%;
  left: 32%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 20px;
  height: auto;
  width: auto;
  max-height: 120px;
  max-width: 120px;
}

.itemnumber {
  position: absolute;
  bottom: 4%;
  right: 4%;
  color: #493f49;
  font-weight: 700;
  font-size: 38px;
  text-align: right;
  padding: 5px 5px 5px 5px;
  margin-left: 300px;
  line-height: 32px;
  text-shadow: 0px 1px, 1px 0px, 1px 0px;
  opacity: 60%;
  user-select: none;
}

.price {
  position: absolute;
  top: 45%;
  left: 83%;
  transform: translate(-50%, -50%);
  color: #FC867D;
  font-weight: 700;
  font-size: 60px;
  text-align: left;
  text-shadow: 0px 0px, 0px 0px, 0.5px 0px;
  letter-spacing: -2px;
}

.energy {
  position: absolute;
  top: 46%;
  left: 67%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 25px;
}

.instructions {
  text-align: center;
  margin-top: 5vw;
  padding-bottom: 5vw;
}

h2 {
  color: #FBCE60;
  background: -webkit-linear-gradient(#FC867D, #FBCE60);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 1vw;
}

p {
  color: white;
}


a:link {
  color: #FC867D;
  text-decoration: none;
}

a:visited {
  color: #FC867D;
  text-decoration: none;
}

a:hover {
  color: #FBCE60;
  background-color: #2e2a31;
}