html {
  background-color: #453F49;
  background-image: url('https://cloud-lm4kzw7d7-hack-club-bot.vercel.app/0bkgr.png');
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.heading-card {
  background: #6B5B5B;
  padding: 0.5em;
  display: inline-block;
}

.heading-card span {
  font-size: 72px;
  font-weight: bold;
  color: #FBCE60;
  background: -webkit-linear-gradient(#FC867D, #FBCE60);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loading {
  /* margin: 0 auto; */
  text-align: center;
  font-size: 3em;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.display-none {
  display: none;
}

.item-list img {
  width: 100%;
}

.item {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 10px;
}

.hours {
  background: orange;
  border-radius: 1em;
  padding: 1em;
  font-weight: bold;
  color: black;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 277px;
  height: 229px;
}

.cell {
  position: relative;
  display: inline-block;
}

.name {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #453F49;
  font-weight: 700;
  font-size: 15.5px;
  text-align: center;
  text-shadow: 0px 0px, 0px 0px, 0.5px 0px;
  width: 300px;
}

.itemimg {
  position: absolute;
  top: 62%;
  left: 32%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 20px;
  height: auto;
  width: auto;
  max-height: 120px;
  max-width: 120px;
}

.itemnumber {
  position: absolute;
  bottom: 3%;
  right: 3%;
  color: #493f49;
  font-weight: 700;
  font-size: 40px;
  text-align: right;
  padding: 5px 5px 5px 5px;
  margin-left: 300px;
  line-height: 32px;
  text-shadow: 0px 1px, 0px 0px, 1px 0px;
  opacity: 60%;
}

.price {
  position: absolute;
  top: 45%;
  left: 83%;
  transform: translate(-50%, -50%);
  color: #FC867D;
  font-weight: 700;
  font-size: 60px;
  text-align: left;
  text-shadow: 0px 0px, 0px 0px, 0.5px 0px;
  letter-spacing: -2px;
}

.energy {
  position: absolute;
  top: 46%;
  left: 67%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 25px;
}


