.card {
    flex: 1;
    break-inside: avoid;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    position: relative;
    padding: 10px;
    border-radius: 10px;
}

.card_img {
    width: 100%;
    max-width: 480px;
    height: auto;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    object-fit: contain;
}

.card_img_container {
    height: 200px;
    align-items: center;
    display: grid;
}

.card_title {
    color: #09AFB4;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;

}

.card_description {
    font-size: 1rem;
    color: #0BB6BB;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;
    margin-bottom: 10px;
}

.linkWrapper {
    display: block;
    text-decoration: none;
    color: inherit;
}