.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .imageGallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
    width: 780px; /* Adjust the width to fit three images */
}
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .description {
    font-size: 1.2rem;
    color: #363636;
    margin-bottom: 30px;
    line-height: 1.6;
    font-weight: 500;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #0070f3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  
  .min{
    min-height: 800px;
    text-align: center;
    padding-top: 70px;
  }

  .loading{
    font-size: 2.5rem;
    font-weight: 800px;
    margin-bottom: 20px;
  }