.selector-container {
    display: flex;
    padding: 40px;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.selector-header {
    height: fit-content;
    display: flex;
    align-items: end;
    width: 100%;
}

.selector-title {
    font-weight: bolder;
    font-size: 80px;
}

.selector-continue {
    font-weight: bolder;
    border: none;
    font-size: 40px;
    padding: 5px 30px;
    margin-left: auto;
    height: 100%;
    cursor: pointer;
    border-radius: 20px;
    background-color: #9FEEB5;

    display: flex;
    align-items: center;
    gap: 20px;
}

.selector-main {
    display: grid;
    flex-grow: 1;
    width: 100%;
    gap: 20px;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1.5fr);
}

.selector-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: calc(100vw / 4.5);
    aspect-ratio: 1;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 20px;
    gap: 5px;
    box-sizing: border-box;
    cursor: pointer;
    filter: grayscale(0) brightness(1);
    transition: filter 300ms;
}

.selector-item.disabled {
    filter: grayscale(1) brightness(0.7);
}

.selector-item.selected {
    outline: 3px solid #867DEC;
}

.selector-image {
    display: block;
    height: 60%;
}

.selector-item-name {
    font-size: 35px;
    font-weight: bold;
}

.selector-item-description {
    font-size: 25px;
    font-weight: normal;
}

.selector-number {
    font-weight: bold;
    font-size: 30px;
    position: fixed;
    bottom: 30px;
    right: 50px;
    padding: 10px 30px;
    background-color: #867DEC;
    border-radius: 50px;
    filter: grayscale(0);
    transition: filter 300ms;
}

.selector-number.disabled {
    filter: grayscale(0.8);
}

.flex-lb {
    width: 100%;
    display: block;
    height: 40px;
}

@media screen and (aspect-ratio: 4/3) {
    .selector-item {
        width: 220px;
    }

    .selector-item-name {
        font-size: 30px;
    }

    .selector-item-description {
        font-size: 19px;
    }

    .flex-lb {
        height: 20px;
    }
}

@media only screen and (hover: none) and (pointer: coarse) {
    .selector-header {
        flex-direction: column;
        align-items: center;
    }

    .selector-continue {
        margin: 0;
        font-size: 30px;
        height: 40px;
    }

    .selector-continue img {
        height: 100%;
    }

    .selector-number {
        left: 50%;
        text-wrap: nowrap;
        transform: translateX(-50%);
        width: fit-content;
    }

    .selector-item {
        width: 40vw;
        flex-grow: 1;
        height: 100%;
    }

    .selector-main {
        display: grid;
        flex-grow: 1;
        width: 100%;
        gap: 20px;
        justify-content: space-around;
        grid-template-columns: repeat(2, 1.5fr);
    }

    .selector-item-name {
        font-size: 30px;
        text-align: center;
        text-overflow: ellipsis;
        overflow-x: hidden;
        width: 100%;
    }

    .selector-item-description {
        font-size: 20px;
    }

    .selector-image {
        height: 110px;
    }

    .selector-container {
        margin-top: 60px;
    }
}