.section {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
}

.container {
    max-width: 62em;
    margin: auto;
}

.landing-section {
    height: 100vh;
}

.hoverable {
    transition: 500ms transform;
    cursor: pointer;
}

.hoverable:hover {
    transform: scale(1.05);
}

.flex-lb {
    width: 100%;
    display: block;
    height: 0px;
}


/*TODO: decide whether to remove this*/
.huh {
    position: absolute;
    display: block;
    width: 150px;
    left: 50px;
    bottom: -60px;
}

.landing-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-logo {
    display: block;
    width: 100%;
}

.landing-tagline {
    font-size: 35px;
    display: block;
    font-style: italic;
    text-wrap: nowrap;
}

.scroll-prompt {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    background: linear-gradient(#63CE61, #ADEA00);
    height: 50px;
    width: 50px;
    padding: 20px;
    border-radius: 50%;
    transition: transform 300ms;
}

.scroll-prompt:hover {
    transform: translateX(-50%) scale(1.05);
}

.landing-main-image {
    margin-top: 30px;
    display: block;
    width: 65%;
}

#floaty,
#floaty-left {
    width: 300px;
    position: absolute;
}

#floaty,
.floaty {
    animation: float 6s ease-in-out infinite;
}

#floaty-left,
.float-left {
    animation: float-left 6s ease-in-out infinite;
}

.gambling-section {
    padding: 50px;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 30px; */
    /* max-width: 75em; */
    margin: auto;
}

.gambling-header {
    display: flex;
    height: 200px;
    gap: 40px;
}

.gambling-header-text {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 20px;
}

.gambling-title {
    font-size: 90px;
}

.gambling-subheader {
    font-size: 45px;
    font-weight: normal;
    font-style: italic;
}

.gambling-header-rummage {
    display: block;
    height: 100%;
}

.gambling-ui {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}

.gambling-spinner {
    flex-basis: 20vw;
    aspect-ratio: 1;
    background-color: #c4c4c4;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: hidden;
}

.gambling-item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 26px;
    transform: translateY(0px);
    /*animation: gamble 7000ms ease-in-out infinite;*/
    /*animation: gamble 100ms ease-in-out;*/
    animation-fill-mode: forwards;
    height: 100%;
}

@keyframes gamble {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(calc(-100% + 292px));
    }
}

@keyframes gamble-once {

    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(calc(-200px * 25));
    }
}

.spinner-item {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    padding: 15px;
    box-sizing: border-box;
    background-color: #D9D9D9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner-item-image {
    height: 67%;
}

.spinner-separator {
    font-size: 100px;
    font-weight: bolder;
    margin: 20px;
}

.spinner-item-name {
    font-size: 1.5em;
    text-align: center;
}

.spinner-item-description {
    font-size: 1.2em;
    text-align: center;
}

.gambling-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    gap: 10px;
}

/* .gambling-section button {
    font-weight: bolder;
    box-sizing: border-box;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 40px;
    border-radius: 30px;
    height: min-content;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 30px;
    align-items: center;
} */

.gambling-controls button img {
    height: 30px;
}

button {
    border-radius: 0.5em;
    font-size: 40px;
    font-weight: bolder;
    box-sizing: border-box;

    color: white;

    border: none;
    padding: 10px 30px;

    margin: 1em;
}

.gambling-roll {
    background-color: #ee9f9f;
    display: inherit;
    margin: 0 auto;
}

.gambling-controls:first-child {
    margin-left: 0px;
    margin-right: 0px;
}

.gambling-select {
    background-color: #7D96EC;
}

.gambling-build {
    background-color: #9FEEB5;
    filter: saturate(1) brightness(1);
    transition: filter 500ms;
    display: flex;
    gap: 20px;
}

.gambling-build.disabled {
    filter: saturate(0.5) brightness(0.7);
}

.gambling-placeholder {
    height: 80%;
    width: 80%;
    margin: auto;
}

#generate-project-idea {
    cursor: pointer;
}

.project-idea-section {
    margin-bottom: 30px;
}

#project-name {
    resize: none;
    width: 70%;
    border: none;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 30px;
}

.project-idea-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 5px;
}

.gambling-build {
    margin: auto !important;
}

.project-idea-buttons button {
    margin: 0;
}

.project-idea-container {
    margin: auto;
    padding: 50px;
    width: inherit;
    box-sizing: border-box;
}

.project-idea-container h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.project-idea-images {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    gap: 5px;
    display: none;
    height: 90px;
}

.project-idea-images img {
    height: 100%;
    width: auto;
}

#project-idea-build {
    font-size: 30px;
    font-weight: bolder;
    border: none;
    background-color: #9FEEB5;
    padding: 10px 30px;
    border-radius: 30px;
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#project-idea-build img {
    height: 25px;
}

/* CSS from https://codepen.io/quadbaup/details/rKOKQv */
.thought {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    min-width: 40px;
    max-width: 220px;
    min-height: 40px;
    margin: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    /* text-align:center; */
}

.thought:before,
.thought:after {
    content: "";
    background-color: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: -1;
}

.thought:before {
    width: 44px;
    height: 44px;
    top: -12px;
    left: 28px;
    box-shadow: -50px 30px 0 -12px #fff;
}

.thought:after {
    bottom: -10px;
    right: 26px;
    width: 30px;
    height: 30px;
    box-shadow: 40px -34px 0 0 #fff,
        -28px -6px 0 -2px #fff,
        -24px 17px 0 -6px #fff,
        -5px 25px 0 -10px #fff;

}


.disabled {
    cursor: not-allowed;
}

.loading {
    cursor: wait;
}

#generate-project-idea {
    cursor: pointer;
}

#project-name {
    resize: none;
    width: 70%;
    border: none;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 30px;
}

.faq-section {
    padding: 50px;
}

.faq-section h1 {
    font-size: 50px;
}

.faq-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.faq-item {
    padding: 20px;
    border-radius: 20px;
    background-color: #EEEDED;
    backdrop-filter: blur(10px);
    filter: saturate(0.9);
}

.faq-item a {
    color: black;
}

.faq-item p {
    margin-top: 1em;
}

.faq-item h1 {
    font-size: 1.5em;
}

.timeline-header {
    font-size: 70px;
    width: fit-content;
    margin: auto;
}

.timeline-subheader {
    font-weight: normal;
    font-style: italic;
    margin: auto;
    width: fit-content;
    font-size: 50px;
}

.timeline-list {
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    height: min-content;
    display: grid;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    max-width: 62em;
}

.timeline-item {
    padding: 10px;
    background-color: black;
    border-radius: 20px;
    box-sizing: border-box;
    height: 100%;
}

.timeline-info {
    background-color: #EEEDED;
    height: 100%;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
}

.timeline-info a {
    color: black;
}

.muted {
    opacity: 0.5;
}

.greenbutton {
    background: linear-gradient(to bottom right, #63CE61, #ADEA00);
}

.bluebutton {
    background: linear-gradient(to bottom right, #7A97FC, #7AEDFC);
}

.redbutton {
    background: linear-gradient(to bottom right, #FC7A7A, #FCA97A);
}

@keyframes float {

    from,
    to {
        transform: translate(0%, -47%) rotate(-2deg);
    }

    25% {
        transform: translate(-2%, -50%) rotate(2deg);
    }

    50% {
        transform: translate(0%, -53%) rotate(-1deg);
    }

    75% {
        transform: translate(-1%, -50%) rotate(-1deg);
    }
}

@keyframes float-left {

    from,
    to {
        transform: translate(0%, -47%) rotate(-2deg);
    }

    25% {
        transform: translate(-2%, -50%) rotate(2deg);
    }

    50% {
        transform: translate(-0%, -53%) rotate(-1deg);
    }

    75% {
        transform: translate(-1%, -50%) rotate(-1deg);
    }
}

@media screen and (aspect-ratio: 4/3) {
    .landing-header {
        width: 50%;
    }

    #floaty,
    #floaty-left {
        width: 200px;
    }

    .gambling-title {
        font-size: 100px;
    }

    .gambling-subheader {
        font-size: 40px;
    }

    .spinner-separator {
        font-size: 70px;
    }

    .spinner-item-name {
        font-size: 25px;
    }

    .spinner-item-description {
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px) {
    body {
        overflow-x: hidden;
    }

    #floaty,
    #floaty-left,
    .floaty {
        display: none;
    }

    .landing-header {
        width: 80%;
    }

    .landing-tagline {
        font-size: 20px;
    }


    .gambling-header {
        height: fit-content;
    }

    .gambling-header-text {
        margin-bottom: 10px;
    }

    .gambling-header-rummage {
        display: none;
    }

    .gambling-section {
        padding: 30px;
        gap: 10px;
    }

    .gambling-title {
        font-size: 65px;
    }

    .gambling-subheader {
        font-size: 25px;
    }

    .spinner-separator {
        display: none;
    }

    .gambling-ui {
        flex-direction: column;
        gap: 20px;
    }

    .gambling-spinner {
        aspect-ratio: unset;
        width: 100%;
        flex-basis: 40vw;
        padding: 10px;
        /*background: conic-gradient(red 51.4deg, orange 102.8deg, yellow 154.2deg,
                green 205.6deg, blue 257deg, purple 308.4deg, red 360deg);*/
    }

    .gambling-controls {
        margin-top: 20px;
    }

    .gambling-controls button {
        font-size: 35px;
    }

    .spinner-item {
        flex-direction: row;
        border-radius: 20px;
        gap: 10px;
        overflow: hidden;
    }

    .spinner-item-name,
    .spinner-item-description {
        text-align: left;
    }

    .spinner-info {
        text-overflow: ellipsis;
        text-wrap: wrap;
        flex-basis: 200px;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .spinner-item-name {
        font-size: 30px;
    }

    .spinner-item-image {
        height: auto;
        width: 100px;
    }

    .project-idea-section {
        height: 100vh;
        padding-top: 20px;
    }

    .project-idea-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 20px;
        padding-bottom: 10px;
        box-sizing: border-box;
    }

    .project-idea-title {
        font-size: 48px;
    }

    #project-name {
        margin: auto;
        width: 90%;
        display: block;
        border-radius: 20px;
        flex-grow: 1;
    }

    .project-idea-images {
        display: flex;
    }

    .timeline {
        padding: 30px;
    }

    .timeline-list {
        padding: 0px;
    }

    .timeline-header {
        font-size: 40px;
        margin: 0;
    }

    .timeline-subheader {
        font-size: 30px;
        margin: 0;
        margin-bottom: 20px;
    }

    .faq-section {
        padding: 30px;
    }
}

/*who is even using this*/
@media only screen and (max-width: 300px) {
    .spinner-item-image {
        display: none;
    }
}

@media only screen and (max-width: 52em) {
    .timeline-list {
        grid-template-columns: 1fr;
    }
}